# Mac
.DS_Store

# Maven Files #
target/
test/

*.class

# Package Files #
*.jar
*.war
*.ear


# Netbeans Files #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

report/paper.log

report/paper.out

report/model.log

report/paper.synctex.gz

report/sig-alternate.cls

report/paper.aux

report/images/strato_pact_pt2.svg

report/images/strato_pact_pt1.svg

*.log

report/paper.bbl

report/paper.blg

*.pdf
